.header {
  background-color: #f9f9f9;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
}

.headerTitle {
  font-size: 20px;
  white-space: nowrap;
}

@media (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .containerHeader {
    gap: 24px;
  }

  .headerTitle {
    font-size: 32px;
  }

  .navList {
    gap: 24px;
  }

  .navLink {
    font-size: 18px;
    padding: 4px 6px;
  }
}
