.footer {
  background-color: #242424;
  color: #f4f4f4;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #444;
  font-size: 13px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.footerCopy {
  margin: 0;
}

.footerAuthor {
  margin: 0;
}

.footerText {
  margin: 0;
  font-style: italic;
}

@media (min-width: 1200px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;
  }

  .footerContent {
    gap: 24px;
  }
}
